:root {
    /* Colors */
    --color-50: #F3F3F3;
    --color-100: #AAAAC1;
    --color-200: #8483A9;
    --color-300: #646395;
    --color-400: #504F7E;
    --color-500: #3F3E6B;
    --color-600: #32315B;
    --color-700: #292946;
    --color-800: #222236;
    --color-900: #1C1B2A;


    /* Height & viewport */
    --header-height: 2.5rem;
    --header-padding: 0.5rem;
    --page-container-height: calc(100vh - var(--header-height) - (var(--header-padding) * 2));

    /* Breakpoints */
    /* Used as reference for now since media querys cannot use variables */
    --breakpoints-xs: 478px;
    --breakpoints-sm: 768px;
    --breakpoints-md: 1024px;
    --breakpoints-lg: 1440px;
    --breakpoints-xl: 1920px;

    /* Others */
    /* todo: shadows */
    --border-radius: 0.25rem;
    --default-transition: all ease-out 200ms;

    /* Rarity Gradients */
}

body{
    margin: 0;
    color: var(--color-50);
    background-color: var(--color-700);
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800
};
